{% extends 'base.html' %}
{% block content %}

{% if form %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.score }}$ {% for question in form.the_question %}
      {{ question.inquiry }}<br>
    <input type="hidden" name="question_id" value="{{ question.id }}">
    {% endfor %} <br>

    <fieldset>
        {% for answer in form.answers %}
            <div>
              <input type="radio" id="{{ answer.id  }}" value="{{ answer.id  }}" name="answer" required>
              <label for="{{ answer.id  }}">{{ answer.answer }}</label>
            </div>
        {% endfor %} <br>
    </fieldset>
    <input type="hidden" name="score" value="{{ form.score }}">
    <input type="submit" value="Submit">

</form>
{% endif %}

<!-- inspired by https://wwbm.com/ -->

{% endblock %}