{% extends 'base.html' %}
{% block content %}

{% if form %}
<form action="" method="post">
    {% csrf_token %}
    {% for question in form.the_question %}
      {{ question.inquiry }}
    {% endfor %} <br>

    <fieldset>
        {% for answer in form.answers %}
            <div>
              <input type="radio" id="{{ answer.id  }}" value="{{ answer.id  }}" name="answer">
              <label for="{{ answer.id  }}">{{ answer.answer }}</label>
            </div>
        {% endfor %} <br>
    </fieldset>
    <input type="hidden" name="score" value="{{ form.score }}">
    score: {{ form.score }} <br>
    <input type="submit" value="Submit">

</form>
{% endif %}

{% endblock %}