{% extends 'base.html' %}
{% block content %}

{% if form %}
<form action="" method="post">
    {% csrf_token %}
    {% for question in form.the_question %}
      {{ question.inquiry }}
    {% endfor %} <br>

    {% for answer in form.answers %}
      {{ answer.answer }} {{ answer.is_correct }} <br>
    {% endfor %} <br>
    <input type="submit" value="Submit">

</form>
{% endif %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Useris</th>
        <th scope="col">Score</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    {% for question in question_list %}
    <tbody>
    <tr class="table-success">
        <th scope="row">{{ leader.user }}</th>
        <td>{{ leader.score }}</td>
        <td>{{ leader.date_created }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}